<ion-header>
  <ion-toolbar color="primary">
    <ion-title> Swiper </ion-title>
  </ion-toolbar>
</ion-header>

 
<ion-content>
  <swiper-container [slidesPerView]="2" [loop]="true">
    <swiper-slide>
      <img class="Swiper" src="../../assets/images/2.jpg" alt="Random Image 1">
    </swiper-slide>
    <swiper-slide>
      <img class="Swiper" src="../../assets/images/3.jpg" alt="Random Image 2">
    </swiper-slide>
    <swiper-slide>
      <img class="Swiper" src="../../assets/images/1.jpg" alt="Random Image 3">
    </swiper-slide>
    <swiper-slide>
      <img class="Swiper" src="../../assets/images/2.jpg" alt="Random Image 1">
    </swiper-slide>
    <swiper-slide>
      <img class="Swiper" src="../../assets/images/3.jpg" alt="Random Image 2">
    </swiper-slide>
    <swiper-slide>
      <img class="Swiper" src="../../assets/images/1.jpg" alt="Random Image 3">
    </swiper-slide>
  </swiper-container>
</ion-content>





